[user]
  email = martikkanen@outlook.com
  name = Marko Tikkanen
[includeIf "gitdir:~/Developer/"]
  path = .gitconfig-work
[core]
  editor = code --wait
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
[alias]
  glog = log --all --decorate --graph --oneline
[push]
  autoSetupRemote = true
[fetch]
  prune = true
